POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SPRING_R2DBC_USERNAME=postgres
SPRING_R2DBC_PASSWORD=postgres
SPRING_FLYWAY_USER=postgres
SPRING_FLYWAY_PASSWORD=postgres
SOLR_HOST_PATH=./.solr_data
